<html class="html">
<head>
    <title>DAVV 6</title>
    <link href="DAVV6.css" rel="stylesheet">
</head>
<body>
<h1 class="text"> Hi Everyone </h1>

<p class="text">IF YOU WANT TO SEE MY PINTEREST.
    FIRST REGISTER C:</p>

<header class="section">

    <p class="text">Name</p>

    <input class="frame" type="text" placeholder="Enter Your Name...">

    <p class="text">Surname</p>

    <input class="frame" type="text" placeholder="Enter Your Surname...">

    <p class="text">Password</p>

    <input class="frame" type="password" placeholder="Enter Your Password...">

</header>

<br>
<header class="section">

    <p class="text">Choose Your Gender</p>

    <input type="radio" name="gender"> Male <br>
    <input type="radio" name="gender"> Female <br>
    <br>

</header>
<br>
<header class="section">

    <p class="text">Your Date</p>
    <input type="date">

    <p class="text"> What Color You Like?</p>
    <input type="color">

</header>
<br>
<header class="section">

    <p class="text">And Last One</p>
    <p class="text">About Yourself</p>

    <textarea class="frame" rows="8" cols="40" placeholder="text"> </textarea><br>

    <br>

    <a href="https://www.pinterest.com/TemoGoat/" target="_blank">
        <button class="click">Click Me To See My Pinterest Account</button>
    </a>


</header>
</body>
</html>